@import url(main/button.css);
@import url(main/cards.css);
@import url(main/depositions.css);
@import url(main/footer.css);
@import url(main/header.css);
@import url(main/metrics.css);
@import url(main/navBar.css);
@import url(main/vacancies.css);


:root {
    --background: #FFFFFF;
    --logo-color:#3A404E ;
    --text-color: #667085;
    --text-color2:#101828;
    --branco: #fff;
    --preto: #000;
    --red:#8E2424;
    --red-secondary: #ff0000;
    --border-transparent: #8E24240D;
    --background-footer: #F9FAFB;
    --text-color-footer:#98A2B3;   
    --border-box: #EAECF0;
  }

  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 100vh;
  }