  button {    
    padding: .8rem 1rem;      
    cursor: pointer;    
    border-radius: .5rem;    
    color: var(--text-color);    
  }   
  button#SignUP,#email {
    background-color: var(--red);
    color: #FFF;
  }


